@model RdCenterAmountViewModel
@{
    ViewBag.Title = "Ar-Ge İndirimine Konu Olan Ar-Ge ve Yenilik Harcamalarının Kapsamı";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- BEGIN: Content-->
<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-body">
            <h4 class="text-primary">
                Ar-Ge İndirimine Konu Olan Ar-Ge ve Yenilik Harcamalarının Kapsamı
            </h4>
            <br />
            <section class="invoice-list-wrapper">
                <div class="invoice-create-btn mb-1">
                    <a class="btn btn-primary invoice-create" onclick="Create()">
                        Yeni Bilgi Ekle
                    </a>
                </div>
                <div class="users-list-table">
                    <div class="card">
                        <div class="card-body">
                            <!-- datatable start -->
                            <div class="table-responsive">
                                <table id="users-list-datatable" class="table" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>
                                                Faaliyet Dönemi
                                            </th>
                                            <th>
                                                İlk Madde ve Malzeme Giderleri
                                            </th>
                                            <th>
                                                Amortisman Tutarı
                                            </th>
                                            <th>
                                                Net Personel Giderleri Toplamı
                                            </th>
                                            <th>
                                                Genel Giderler
                                            </th>
                                            <th>
                                                Dışarıdan Sağlanan Fayda ve Hizmetler
                                            </th>
                                            <th>
                                                Vergi, Resim ve Harçlar
                                            </th>
                                            <th>
                                                Ar-Ge ve/veya Tasarım Harcaması
                                            </th>
                                            <th>
                                                Sağlanan Nakit Destekler
                                            </th>
                                            <th>
                                                Ar-Ge ve Tasarım İndirimine Tabi Harcamalar Toplamı
                                            </th>
                                            <th>
                                                Ar-Ge/Tasarım İndirimi Kapsamında
                                                <br />
                                                Yararlanılan / Yararlanılacak Kurumlar Vergisi İstisnası
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.AmountList)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Year)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.TaxExemption)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.WithholdingIncentive)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.PremiumSupport)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.StampTaxException)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.CustomTaxException)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.IncentiveAmount)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.TotalExpenditure)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.AnnualTotal)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.RatioTurnover)
                                                </td>
                                                <td>
                                                    <div class="invoice-action">
                                                        <a href="#" onclick="Update(@item.Id)" class="mr-1" data-toggle="tooltip" title="Satırı düzenle">
                                                            <i class="bx bx-edit"></i>
                                                        </a>
                                                        <a asp-action="AmountDelete" asp-route-id="@item.Id" method="post" data-toggle="tooltip" title="Satırı sil">
                                                            <i class="bx bx-trash"></i>
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <!-- datatable ends -->
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="addNewModal" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3 class="modal-title">
                                    Yeni Bilgi Ekle
                                </h3>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form asp-action="Amount" method="post" id="jquery-val-form">
                                <div class="modal-body" id="modalBody">
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-light-secondary" data-dismiss="modal">
                                        Kapat
                                    </button>
                                    <button type="submit" class="btn btn-primary ml-1">
                                        Kaydet
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<!-- END: Content-->
<script src="~/frest/app-assets/vendors/js/jquery/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        var message = "@(TempData["SuccessMessage"] as string)";
        if (message != "") {
            toastr['success'](message, {
            showMethod: 'slideDown',
            hideMethod: 'slideUp',
            timeOut: 2000,
        })
        }
    })

    var Create = function () {
        $.ajax({
            type: "POST",
            url: "/RdCenter/AmountCreate",
            success: function (response) {
                $('#modalBody').html(response);
                $('#addNewModal').modal('show');
            }
        })
    }

    var Update = function (id) {
        $.ajax({
            type: "POST",
            url: "/RdCenter/AmountUpdate",
            data: { id: id },
            success: function (response) {
                $('#modalBody').html(response);
                $('#addNewModal').modal('show');
            }
        })
    }
</script>