@model RdCenterAreaInfoViewModel
@{
    ViewBag.Title = "AGN Fiziki Alan Bilgileri";
    int rowNumber = 0;
}
<!-- BEGIN: Content-->
<div class="app-content content">
    <div class="content-wrapper">
        <div class="row match-height">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="text-primary">
                            AGM Organizsyon Şeması
                        </h4>
                    </div>
                    <div class="card-body">
                        <hr />
                        <form asp-action="AreaInfo" method="post" id="jquery-val-form" enctype="multipart/form-data">
                            <div class="form-body">
                                <div class="row">
                                    <div class="col-md-4">
                                        <h6 class="invoice-address">
                                            AGM Fiziki Alan Bilgi
                                        </h6>
                                    </div>
                                    <div class="col-8">
                                        <fieldset class="form-group">
                                            <div class="custom-file">
                                                <input asp-for="FormFile" type="file" class="custom-file-input" id="fileUpload">
                                                <label class="custom-file-label">Dosya seçin</label>
                                                <span asp-validation-for="FormFile" class="error"></span>
                                            </div>
                                        </fieldset>
                                    </div>
                                    <div class="col-12 d-flex justify-content-end">
                                        <button type="submit" class="btn btn-primary mr-1">Kaydet</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="users-list-table">
            <div class="card">
                <div class="card-body">
                    <!-- datatable start -->
                    <div class="table-responsive">
                        <table id="users-list-datatable" class="table" style="width:100%">
                            <thead>
                                <tr>
                                    <th>
                                        Sıra No
                                    </th>
                                    <th>
                                        Dosya Adı
                                    </th>
                                    <th>
                                        Yükleme Tarihi
                                    </th>
                                    <th hidden="hidden">
                                        Yükleyen
                                    </th>
                                    <th hidden="hidden">
                                        Düzenleyen
                                    </th>
                                    <th>
                                        Düzenle
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.AreaInfoList)
                                {
                                    rowNumber++;
                                    <tr>
                                        <td>
                                            @rowNumber
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.FileName)
                                        </td>
                                        <td>
                                            @Html.Raw(item.CreatedDate.ToString("dd/MM/yyyy"))
                                        </td>
                                        <td hidden="hidden">
                                            @Html.DisplayFor(modelItem => item.CreatedUserName)
                                        </td>
                                        <td hidden="hidden">
                                            @Html.DisplayFor(modelItem => item.ModifedUserName)
                                        </td>
                                        <td>
                                            <div class="invoice-action">
                                                <a asp-action="AreaInfoDownload" asp-route-id="@item.Id" method="post" class="mr-1" data-toggle="tooltip" title="Dosyayı indir">
                                                    <i class="bx bx-download"></i>
                                                </a>
                                                <a asp-action="AreaInfoDelete" asp-route-id="@item.Id" method="post" data-toggle="tooltip" title="Satırı sil">
                                                    <i class="bx bx-trash"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- datatable ends -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END: Content-->
<script src="~/frest/app-assets/vendors/js/jquery/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        var message = "@(TempData["SuccessMessage"] as string)";
        if (message != "") {
            showMessage(message);
        };
    });
</script>