@model ArGeTesvikTool.WebUI.Models.RdCenter.RdCenterDiscountViewModel
@{
    ViewBag.Title = "5746 Sayılı Kanun Kapsamında Yararlanılan İndirim, İstisna, Muafiyet vb. Teşvik Tutarı";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- BEGIN: Content-->
<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-body">
            <h4 class="text-primary">
                5746 Sayılı Kanun Kapsamında Yararlanılan İndirim, İstisna, Muafiyet vb. Teşvik Tutarı
            </h4>
            <br />
            <section class="invoice-list-wrapper">
                <div class="invoice-create-btn mb-1">
                    <a class="btn btn-primary invoice-create" onclick="Create()">
                        Yeni Bilgi Ekle
                    </a>
                </div>
                <div class="users-list-table">
                    <div class="card">
                        <div class="card-body">
                            <!-- datatable start -->
                            <div class="table-responsive">
                                <table id="users-list-datatable" class="table" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>
                                                Faaliyet Dönemi
                                            </th>
                                            <th>
                                                Ar-Ge ve Tasarım İndirimi Kapsamında Yararlanılan / Yaralanılacak Kurumları Vergisi İstisnası
                                            </th>
                                            <th>
                                                Gelir Vergisi Stopaj Teşviği
                                            </th>
                                            <th>
                                                Sigorta Primi Desteği
                                            </th>
                                            <th>
                                                Damga Vergisi İstisnası
                                            </th>
                                            <th>
                                                Gümrük Vergisi İstisnası
                                            </th>
                                            <th>
                                                Yararlanılan İndirim, İstisna, Muafiyeti vb. Teşvik Tutarı
                                            </th>
                                            <th>
                                                Ar-Ge İndirimine Tabi Harcamalar Toplamı
                                            </th>
                                            <th>
                                                Yıllık Toplam Ciro
                                            </th>
                                            <th>
                                                Toplam Harcamanın Ciroya Oranı
                                            </th>
                                            <th>
                                                İşlemler
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.DiscountList)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Year)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.MaterialExpense)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.DepreciationAmount)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.PersonelExpense)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.GeneralExpense)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.ExternalBenefit)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.TaxFee)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.DesignExpense)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.CashSupport)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.TotalExpenditure)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.TaxExemption)
                                                </td>
                                                <td>
                                                    <div class="invoice-action">
                                                        <a href="#" onclick="Update(@item.Id)" class="mr-1" data-toggle="tooltip" title="Satırı düzenle">
                                                            <i class="bx bx-edit"></i>
                                                        </a>
                                                        <a asp-action="DiscountDelete" asp-route-id="@item.Id" method="post" data-toggle="tooltip" title="Satırı sil">
                                                            <i class="bx bx-trash"></i>
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <!-- datatable ends -->
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="addNewModal" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3 class="modal-title">
                                    Yeni Bilgi Ekle
                                </h3>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form asp-action="Discount" method="post" id="jquery-val-form">
                                <div class="modal-body" id="modalBody">
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-light-secondary" data-dismiss="modal">
                                        Kapat
                                    </button>
                                    <button type="submit" class="btn btn-primary ml-1">
                                        Kaydet
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<!-- END: Content-->
<script src="~/frest/app-assets/vendors/js/jquery/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        var message = "@(TempData["SuccessMessage"] as string)";
        if (message != "") {
            showMessage(message);
        };
    })

    var Create = function () {
        $.ajax({
            type: "GET",
            url: "/RdCenter/DiscountCreate",
            success: function (response) {
                $('#modalBody').html(response);
                $('#addNewModal').modal('show');
            }
        })
    };

    var Update = function (id) {
        $.ajax({
            type: "GET",
            url: "/RdCenter/DiscountUpdate",
            data: { id: id },
            success: function (response) {
                $('#modalBody').html(response);
                $('#addNewModal').modal('show');
            }
        })
    }
</script>