@model ShareholderViewModel
@{
    ViewData["Title"] = "İşletme Ortakları";
}
<!-- BEGIN: Content-->
<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-body">
            <h4 class="text-primary">
                Bağlı Olduğu Holding / Grup Bilgileri
            </h4>
            <br />
            <section class="invoice-list-wrapper">
                <div class="invoice-create-btn mb-1">
                    <a asp-action="" class="btn btn-primary invoice-create" role="button" aria-pressed="true">
                        Yeni ortak ekle
                    </a>
                </div>
                <div class="table-responsive">
                    <table class="table invoice-data-table dt-responsive nowrap" style="width:100%">
                        <thead>
                            <tr>
                                <th></th>
                                <th></th>
                                <th>
                                    Ortak Adı / Ünvanı
                                </th>
                                <th>
                                    Uyruğu
                                </th>
                                <th>
                                    Pay (%)
                                </th>
                                <th>
                                    Pay Tutarı (TL)
                                </th>
                                <th>
                                    Düzenle
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Shareholder)
                            {
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CompanyName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Origin)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Share)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ShareAmount)
                                    </td>
                                    <td>
                                        <a asp-action="" asp-route-id="@item.Id" method="post">
                                            <i class="bx bx-edit"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
    </div>
</div>
<!-- END: Content-->