@model RdCenterTechAttendedEventViewModel
@{
    ViewBag.Title = "Katılım Sağlanan Kongre, Konferans";
    int rowNumber = 0;
}
<!-- BEGIN: Content-->
<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-body">
            <h4 class="text-primary">
                Katılım Sağlanan Sempozyum, Kongre, Konferanslar
            </h4>
            <br />
            <section class="invoice-list-wrapper">
                <div class="invoice-create-btn mb-1">
                    <a class="btn btn-primary invoice-create" onclick="Create()">
                        Yeni Bilgi Ekle
                    </a>
                </div>
                <div class="users-list-table">
                    <div class="card">
                        <div class="card-body">
                            <!-- datatable start -->
                            <div class="table-responsive">
                                <table id="users-list-datatable" class="table" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>
                                                Sıra No
                                            </th>
                                            <th>
                                                Türü
                                            </th>
                                            <th>
                                                Katılım Sağlanan Konferans, Sempozyum, vb. Bilimsel Etkinlik
                                            </th>
                                            <th>
                                                Yurt İçi/Yurt Dışı
                                            </th>
                                            <th>
                                                Katılım Tarihi Aralığı
                                            </th>
                                            <th>
                                                Kişi Sayısı
                                            </th>
                                            <th>
                                                İşlemler
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.AttendedEventList)
                                        {
                                            rowNumber++;
                                            <tr>
                                                <td>
                                                    @rowNumber
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Type)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.AttendedEvent)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Location)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.AttendDate)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.PersonNumber)
                                                </td>
                                                <td>
                                                    <div class="invoice-action">
                                                        <a href="#" onclick="Update(@item.Id)" class="mr-1" data-toggle="tooltip" title="Satırı düzenle">
                                                            <i class="bx bx-edit"></i>
                                                        </a>
                                                        <a asp-action="AttendedEventDelete" asp-route-id="@item.Id" method="post" data-toggle="tooltip" title="Satırı sil">
                                                            <i class="bx bx-trash"></i>
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <!-- datatable ends -->
                        </div>
                    </div>
                </div>
                <div class="modal fade text-left" id="addNewModal" role="dialog">
                    <div class="modal-dialog modal-dialog-scrollable">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3 class="modal-title">
                                    Yeni işbirliği ekle
                                </h3>
                                <button type="button" class="close rounded-pill" data-dismiss="modal" aria-label="Kapat">
                                    <i class="bx bx-x"></i>
                                </button>
                            </div>
                            <form asp-action="AttendedEvent" method="post" id="jquery-val-form">
                                @Html.AntiForgeryToken()
                                <div class="modal-body" id="modalBody">
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-light-secondary" data-dismiss="modal">
                                        Kapat
                                    </button>
                                    <button type="submit" class="btn btn-primary ml-1">
                                        Kaydet
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<!-- END: Content-->
<script>
    $(document).ready(function () {
        var message = "@(TempData["SuccessMessage"] as string)";
        if (message != "") {
            showMessage(message);
        };
    });

    $(function () {
        $("#jquery-val-form").validate({
            rules: {
                'NewAttendedEvent.Type': {
                    required: true,
                },
                'NewAttendedEvent.AttendedEvent': {
                    required: true,
                },
            }
        })
    });

    var Create = function () {
        $.ajax({
            type: "GET",
            url: "/RdCenterTech/AttendedEventCreate",
            success: function (response) {
                $('#modalBody').html(response);
                $('#addNewModal').modal('show');
            }
        })
    }

    var Update = function (id) {
        $.ajax({
            type: "GET",
            url: "/RdCenterTech/AttendedEventUpdate",
            data: { id: id },
            success: function (response) {
                $('#modalBody').html(response);
                $('#addNewModal').modal('show');
            }
        })
    }
</script>